@using Doctor_App.Core.Models.Doctor
@model List<DoctorViewModel>

@{
    ViewData["Title"] = "Assign a Doctor";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Assign a Doctor</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialization</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model)
            {
                <tr>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.Specialization</td>
                    <td>
                        <form asp-action="AssignDoctor" asp-controller="Patient" method="post">
                            <input type="hidden" name="doctorId" value="@doctor.Id" />
                            <button type="submit" class="btn btn-primary">Assign</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>